.forBackground {
    min-height: 100vh;
    background-color: #c4d0da;
    display: flex;
    justify-content: space-around;
}

.container {
    width: 550px;
}

header {
    text-align: center;
}

.field {
    margin-top: 2.4rem;
}

.icon {
    margin-right: 30px;
    border: none;
    background: none;
    color: #000
}

.icon:hover {
    border: none;
    background: none;
}

.p-input-icon-right {
    width: 100%;
    border: solid 1px #c3c5c7;
    border-radius: 4px;
}

.calenBtn {
    width: 100%;
    border: solid 1px #c3c5c7;
    border-radius: 4px;
}

.foot {
    display: flex;
    justify-content: space-between;
}

.forgotPassword {
    margin-top: 10px;
    color: #044679;
}

.signBtn {
    width: 100%;
    height: 40px;
    border: solid 1px #1F2B38;
    background-color: #e4b3cd;
    color: #24272b;
    margin: 30px 0;
    padding-bottom: 10px;
    font-weight: 700;
}

.signBtn:hover {
    background-color: #e0c2c2;
    border: solid 1px #24272B;
    color: #000000;
}


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    opacity: 0;
    pointer-events: none
}

[type="checkbox"]+span:not(.lever) {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

[type="checkbox"]+span:not(.lever):before,
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #1F2B38;
    border-radius: 1px;
    margin-top: 3px;
    -webkit-transition: .2s;
    transition: .2s
}

[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    border: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
}

[type="checkbox"]:checked+span:not(.lever):before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 21px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #24272B;
    border-bottom: 2px solid #24272B;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

@media screen and (max-width: 550px) {
    .container {
        max-width: 450px;
    }
}

@media screen and (max-width: 450px) {
    .container {
        max-width: 315px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 16px;
    }

    .foot {
        margin-bottom: 80px;
    }

    .forgotPassword {
        padding: 0;
        margin-top: 15px;
    }
}