.forBackground {
    width: 100%;
    min-height: 100vh;
    background-image: url("../assets/background.png");
}

.background {
    height: 600px;
    background-image: url("../assets/background3.png");
}

header {
    display: flex;
    justify-content: space-between;
}

.logoInner {
    margin-left: 30px;
}

.text {
    font-size: 30px;
    text-align: right;
    margin: 110px 180px 0 0;
}

footer {
    text-align: center;
    margin-top: 30px;
}

.mainButton:hover {
    background-color: #e0c2c2;
    color: #24272b;
}

.signInBtn {
    vertical-align: inherit;
    font-weight: 700;
    border: none;
    background: none;
    text-decoration: underline;
    color: #0e1218;
}

.signInBtn:hover {
    background: none;
    color: #24272b;
}

@media screen and (max-width: 1200px) {
    .logoInner {
        width: 350px;
        height: 350px;
        margin-left: 20px;
    }

    .text {
        margin-right: 100px;
    }

    footer {
        margin-top: 80px;
    }
}

@media screen and (max-width: 992px) {
    .text {
        margin-top: 130px;
        margin-right: 14px;
        font-size: 24px;
    }

    footer {
        margin-top: 100px;
    }
}

@media screen and (max-width: 768px) {
    .logoInner {
        margin-top: 50px;
        width: 300px;
        height: 300px;
    }

    .text {
        font-size: 21px;
    }

    footer {
        margin-top: 190px;
    }
}

@media screen and (max-width: 576px) {
    header {
        flex-direction: column;
    }

    .logoInner {
        width: 165px;
        height: 165px;
        margin-top: 0px;
    }

    .text {
        font-size: 20px;
        margin-top: -30px;
    }
}